.img-grid {
  background: linear-gradient(#63aebb,#49828b);
  padding: 2vh 0;
}

.img-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.img-row div {
  padding: 1vw;
  /* background-color: white; */
}
.img-row img {
  width: inherit;
  height: inherit;
  transition: all .3s ease;
  border-radius: .4rem;
}
.img-row img:hover {
  transform: translateY(-.5rem);
  box-shadow: 0rem .5rem 1rem rgba(20,20,20,0.4);
}

.img-1x1 {
  height: 20rem;
  width: 20rem;
}

.img-2x1 {
  height: 40rem;
  width: 20rem;
}

.img-2x2 {
  height: 41rem;
  width: 41rem
}

.img-1x2 {
  height: 21rem
  width: 41rem;
}
