@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@media screen and (min-width: 600px) {
  .header__nav-bar .icon {
    display: none; } }

@media screen and (max-width: 600px) {
  .header__nav-bar li {
    display: none; } }

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
  background: #312b30; }

body a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  color: #ececec;
  transition: all .3s ease; }
  body a:hover {
    color: #604963; }

body li {
  list-style: none;
  color: inherit; }

html {
  font-size: 10px; }

body {
  font-size: 1.2rem;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0; }

.header__logo {
  width: 15vw;
  padding-right: 5vw;
  height: 8rem;
  background-color: #fbd685;
  float: left;
  position: absolute;
  color: #312b30;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0s, filter .3s ease; }
  .header__logo:hover {
    filter: invert(75%); }

.header__nav-bar {
  display: flex;
  flex: 1;
  list-style: none;
  height: 8rem;
  padding: 0 2rem;
  background-color: #312b30;
  color: #f3f3f3;
  justify-content: flex-end;
  z-index: 10;
  overflow: visible;
  clip-path: polygon(100% 0, 100% 100%, 20% 100%, 15% 0);
  padding-right: 3rem;
  transition: all .3s; }

.active-nav {
  border-bottom: 0.5rem solid #fbd685; }

.header__nav-bar li {
  text-decoration: none;
  color: inherit; }

.header__nav-bar a {
  text-decoration: none;
  color: inherit;
  display: flex;
  font-size: 1.8rem;
  padding: 2.6rem 2rem;
  transition: all .3s ease;
  z-index: 10;
  flex-direction: column; }

.header__nav-bar > li > a:hover {
  border-bottom: 0.5rem solid #fbd685; }

.research__drop-down {
  height: 0;
  transition: all .3s ease;
  display: hidden;
  z-index: -10; }
  .research__drop-down p {
    line-height: 8rem; }
  .research__drop-down .sub-menu {
    height: 0;
    overflow: hidden;
    line-height: .3rem;
    transition: all .3s ease; }

#research:hover .sub-menu {
  height: 30rem;
  z-index: 20;
  transition: all .3s ease; }

.hero {
  display: flex;
  height: 89vh;
  width: 100vw;
  background: linear-gradient(#63aebb, #49828b);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #f3f3f3; }

.hero__container {
  flex-direction: column;
  display: flex;
  padding: 4rem 0;
  justify-content: space-around;
  height: 50%;
  align-items: center; }

.hero__container--main-text {
  font-size: 3.6rem;
  font-weight: 700; }

.hero__container--sub-text {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase; }

.horizontal-divider {
  width: 100vw;
  height: 1.5rem;
  background-color: #312b30;
  z-index: 10; }

.recent-projects {
  padding: 4rem 0;
  background: linear-gradient(#7a5d7e, #604963);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .recent-projects__main-text {
    font-weight: 700;
    font-size: 4rem;
    color: #fbd685;
    text-transform: uppercase; }
  .recent-projects__projects {
    margin-top: 2rem;
    color: #63aebb;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .recent-projects__projects--card {
      border: .1rem solid black;
      box-shadow: 0.2rem 0.4rem 1rem rgba(49, 43, 48, 0.6);
      transition: all .3s ease;
      text-align: center;
      position: relative;
      margin: 1rem; }
      .recent-projects__projects--card:hover .recent-projects__projects--card--overlay {
        opacity: .97; }
      .recent-projects__projects--card--overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008CBA; }
      .recent-projects__projects--card--main-text {
        font-weight: 700;
        font-size: 2rem;
        color: #fbd685;
        transition: all .3s;
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -75%);
        -ms-transform: translate(-50%, -75%);
        transform: translate(-50%, -75%);
        text-align: center;
        width: 80%; }
      .recent-projects__projects--card--sub-text {
        font-size: 1.2rem;
        font-weight: 300;
        color: #f3f3f3;
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, 75%);
        -ms-transform: translate(-50%, 75%);
        transform: translate(-50%, 75%);
        text-align: center;
        width: 80%; }
      .recent-projects__projects--card--img {
        background-color: #63aebb; }
        .recent-projects__projects--card--img img {
          width: 45rem; }

.footer {
  padding: 4rem 0;
  background-color: #312b30;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ececec;
  font-size: 1.2rem; }
  .footer__main {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__main i {
      font-size: 3rem;
      margin: 0 2rem;
      transition: all .3s; }
      .footer__main i:hover {
        color: #63aebb; }

.research__hero {
  background-color: #312b30;
  height: 90vh; }
  .research__hero__pop-over {
    position: absolute;
    background-color: #63aebb;
    height: 20rem;
    width: 30rem;
    overflow: visible;
    bottom: 3rem;
    left: 3rem;
    border-radius: 2rem; }

.design__main {
  display: flex;
  height: 5vh;
  background-color: #63aebb;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 16rem; }
  .design__main--big-text {
    font-size: 4rem;
    padding-top: 2vh;
    font-weight: 700;
    text-align: center;
    color: #312b30;
    text-transform: uppercase; }
    .design__main--big-text a {
      color: #63aebb;
      transition: all .3s; }
      .design__main--big-text a:hover {
        color: #49828b; }
    @media screen and (max-width: 600px) {
      .design__main--big-text {
        font-size: 3rem; } }

.about {
  background: linear-gradient(#63aebb, #49828b);
  color: #312b30;
  height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about > * {
    margin: 0 2rem; }
  .about img {
    height: 40rem;
    border-radius: 5rem;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    z-index: 2; }
  .about__main {
    width: 50%; }
    .about__main--big-text {
      font-size: 2rem; }
      .about__main--big-text p {
        font-style: oblique;
        font-size: 1.6rem; }
    .about__main--small-text {
      font-size: 2rem;
      margin-top: 1rem; }
  .about__feature {
    background-color: #49828b;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about__feature--btn-box {
      margin: 0 0 0 0;
      display: flex;
      justify-content: space-around;
      position: relative;
      height: 19rem;
      width: 100%;
      background-color: #312b30; }
      .about__feature--btn-box a {
        height: 19rem;
        width: 60vw;
        position: absolute;
        box-shadow: .5rem .5rem 1rem #111;
        transition: all .3s ease-in-out;
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        background-size: cover;
        background-blend-mode: overlay;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        color: #ececec;
        text-shadow: 0rem 0rem 1rem #312b30;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-weight: 600;
        display: flex; }
        .about__feature--btn-box a:first-child {
          background-image: url("../img/dev-img.jpeg");
          left: 0; }
        .about__feature--btn-box a:nth-child(2) {
          background-image: url("../img/design-img.jpeg");
          background-position: 50% 25%;
          right: 0; }
        .about__feature--btn-box a:hover {
          transform: translateX(-2.5rem);
          box-shadow: .5rem 1rem 1rem #222;
          color: #ececec; }

.resume__main {
  display: flex;
  height: 69vh;
  background: linear-gradient(#312b30, #494148);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 16rem; }
  .resume__main h2 {
    letter-spacing: .1rem;
    color: #ececec; }
  @media screen and (max-width: 600px) {
    .resume__main {
      padding: 0 2rem; } }
  .resume__main--big-text {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #ececec; }
    .resume__main--big-text a {
      color: #63aebb;
      transition: all .3s; }
      .resume__main--big-text a:hover {
        color: #49828b; }
    @media screen and (max-width: 600px) {
      .resume__main--big-text {
        font-size: 3rem; } }
  .resume__main--a {
    padding: 2rem 8rem;
    border-radius: 100px;
    font-size: 2rem;
    font-weight: 300;
    transition: all .3s ease;
    border: #ececec solid 2px;
    color: #ececec; }
    .resume__main--a:hover {
      background-color: #49828b; }

#contact-page {
  background-color: #fbd685; }

#contact-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  margin-top: 10rem; }
  #contact-404 h1 {
    font-size: 3rem; }

.contact {
  height: 80vh;
  background-color: #fbd685;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .contact > * {
    margin: 1rem; }
  .contact i {
    font-size: 5rem;
    transition: all .3s; }
    .contact i:hover {
      color: #63aebb; }

.cc-license {
  text-align: left;
  color: #ececec; }

#dropdown {
  display: inline-block;
  position: relative;
  z-index: 10; }

.work-dropdown {
  display: none;
  z-index: 1; }
  .work-dropdown a {
    padding: 2rem;
    display: block;
    z-index: 20; }

#dropdown:hover .work-dropdown {
  display: block; }
