$color-yellow: #fbd685;
$color-dark-yellow: #af945a;

$color-blue: #63aebb;
$color-dark-blue: #49828b;

$color-purple: #7a5d7e;
$color-dark-purple: #604963;


$color-black: #312b30;
$color-light-black: #494148;

$color-white: #ececec;