doctype html
html
  head
    include components/head
  body
    header
      include components/nav
    main.about
      .about--img
        img(src='img/ClubDayHeadshot03.jpg')
      .about__main
        .about__main--big-text
          h1 I'm Ben Cynamon 
          p (pronounced like the spice)
        .about__main--small-text
          p Graduating from Florida State University in May of 2019, I'm fascinated with the immense world-improving opportunities existing at the intersection of biology and computing.
          p  
          p Aside from a Font Awesome stylesheet, I built this website without any templates to reinforce my understanding of web development fundamentals.
          br
          a(href="https://bitbucket.org/cynamonster/cynamonster.bitbucket.io/src") Click here to check out this site's repositiory!
          //- br
          //- br
          //- h3 Check out my work below!

    //- section.about__feature
    //-   .about__feature--btn-box
    //-     a(href="dev.html")
    //-       p Development
    //-     a(href="design.html")
    //-       p Graphic Design
    //-     //- a(href="writing.html")
        //-   p Writing


  footer
    include components/footer
    script. 
      var item = document.getElementById('about')
      item.classList.add("active-nav")
      

