doctype html
html
  head
    include components/head
  body
    header
      include components/nav
    .contact
      h1 Glad you'd like to connect!
      a(href='mail:ben.cynamon@gmail.com') <i class="far fa-envelope"></i>
      h2 Send me an email, ben.cynamon@gmail.com

      
  footer
      include components/footer
      script. 
        var item = document.getElementById('contact')
        item.classList.add("active-nav")
        