doctype html
html
  head
    include components/head
  body
    header
      include components/nav
    main.design__main
      span.design__main--big-text
        | Graphic&nbsp;Design 
    include components/img-grid

      span.design__main--small-text
        //- | test


  footer
    include components/footer
    script. 
      var item = document.getElementById('design')
      item.classList.add("active-nav")
      

