
                <a href="index.html">
                        <div class="header__logo">
                            <i class="fa fa-code fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>   
            
                <div class="header__nav-bar">
                    
                    <li id="research">
                        
                        <a href="research.html"><p>Portfolio</p></a>
                    
                    
                    </li>
                    
                    <li id="resume"><a href="resume.html">Resume</a></li>
                    <!-- <li id="community"><a href="#">Community</a></li> -->
                    <li id="contact"><a href="#">Contact</a></li>
            
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            