doctype html
html
  head
    include components/head
  body
    header
      include components/nav
    section.hero
      .hero__container
        i.fa.fa-flask.fa-3x(aria-hidden='true')
        span.hero__container--main-text
          | Ben Cynamon
        span.hero__container--sub-text
          | Miami native 
          i.fa.fa-bolt(aria-hidden='true')
          |                 Tallahassee local
    .horizontal-divider
    section.recent-projects
      .recent-projects__main-text
        | Recent Work
      .recent-projects__projects
        a(href='http://2018.igem.org/Team:FSU')
          .recent-projects__projects--card
            .recent-projects__projects--card--img
              img(src='img/igem2018-mock.png')
            .recent-projects__projects--card--overlay
              .recent-projects__projects--card--main-text
                | Synthetic Biology Research Team
              .recent-projects__projects--card--sub-text
                | International Genetically Engineered Machines
        .recent-projects__projects--card
          .recent-projects__projects--card--img
            img(src='img/PAD-iphone-mock.png')
          .recent-projects__projects--card--overlay
            .recent-projects__projects--card--main-text
              | Florida State University's
              br
              i College of Medicine
            .recent-projects__projects--card--sub-text
              | Static Muscular Stretching for Treatment of
              br
              | Peripheral Arterial Disease
        a(href='priceCalc/index.html')
          .recent-projects__projects--card
            .recent-projects__projects--card--img
              img(src='img/pricecalc-mock.png')
            .recent-projects__projects--card--overlay
              .recent-projects__projects--card--main-text
                | Vanilla Javascript Price Calculator
              .recent-projects__projects--card--sub-text
                | Created to aid Heritage Apparel, a Tallahassee-based custom apparel company
        a(href='http://223agency.com')
          .recent-projects__projects--card
            .recent-projects__projects--card--img
              img(src='img/223-mock.png')
            .recent-projects__projects--card--overlay
              .recent-projects__projects--card--main-text
                | 223_Agency
              .recent-projects__projects--card--sub-text
                | A Tallahassee-based Digital Marketing Firm I work with
  footer
    include components/footer
    script. 
      var item = document.getElementById('index')
      item.classList.add("active-nav")
      
