doctype html
html
  head
    include components/head
  body
    header
      include components/nav
    main.resume__main
      span.resume__main--big-text
        a(href='https://jamesrhymer.com') James Rhymer
        |          expects detailed LinkedIn profiles to replace paper resumes.
        br
        |          I agree.
      a.resume__main--a(href='https://linkedin.com/in/bencynamon')
        | View my "Resume"


  footer
    include components/footer
    script. 
      var item = document.getElementById('resume')
      item.classList.add("active-nav")
      

