* {
  font-size: 16px;
  text-align: center;
}
body {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column wrap;
  background-color: #ececec;
}
.garments, .quantities, .colors, .total {
  background-color: #bbcbe9;
  margin: 1rem;
  padding: 1rem;
}
/* .garments, .quantities {
  flex: 1;
} */

.garment{
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 40px;
  cursor: pointer;
}


.tee {
  background: url("icons/icon-tee.svg")no-repeat;
  transition: 0.2s;
}
.tee:focus{
  outline:0;
}
.tee:hover{
  background: url("icons/icon-tee-hover.svg")no-repeat;
  transition: 0.2s;
}
.tee.selected{
  background: url("icons/icon-tee-pressed.svg")no-repeat;
  transition: 0.4s;
}

.tank {
  background: url("icons/icon-tank.svg")no-repeat;
  transition: 0.2s;
}
.tank:focus{
  outline:0;
}
.tank:hover{
  background: url("icons/icon-tank-hover.svg")no-repeat;
  transition: 0.2s;
}
.tank.selected{
  background: url("icons/icon-tank-pressed.svg")no-repeat;
  transition: 0.4s;
}

.polo {
  background: url("icons/icon-polo.svg")no-repeat;
  transition: 0.2s;
}
.polo:focus{
  outline:0;
}
.polo:hover{
  background: url("icons/icon-polo-hover.svg")no-repeat;
  transition: 0.2s;
}
.polo.selected{
  background: url("icons/icon-polo-pressed.svg")no-repeat;
  transition: 0.4s;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.image-input {
  border: 2px solid #ddd;
  display: inline-flex;
}
.image-input input[type=file] {

}

.number-input {
  border: 2px solid #888;
  display: inline-flex;
}
.number-input, .number-input * {
  box-sizing: border-box;
}
.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  transition-duration: 0.2s;
}
.number-input button:hover {
  background-color: #ccc;
  transition-duration: 0.3s;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #888;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}
/*
.number-input #minus {
  background-color: #ceb888;
}
/* tooltip container */
.tooltip {
  position: relative;
  display: inline-block;

  /* border-bottom: 1px dotted black; dots under hoverable text */
}
/* tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity .5s;
  transition-delay: .3s;

  /* position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 115%;
}
/*
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
*/

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.totalText {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #888;
  border-width: 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

/* White shirt check box */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ececec;
}
.container:hover input ~ .checkmark {
  background-color: #999;
}
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
