section.footer
  .cc-license 
    a(rel='license', href='http://creativecommons.org/licenses/by-sa/4.0/')
      img(alt='Creative Commons License', style='border-width:0', src='https://i.creativecommons.org/l/by-sa/4.0/88x31.png')
  .footer__main
        a(href='https://linkedin.com/in/bencynamon') <i class="fab fa-linkedin-in"></i>
        a(href='mail:ben.cynamon@gmail.com') <i class="far fa-envelope"></i>
        a(href='https://github.com/cynamonster') <i class="fab fa-github"></i>
  p &copy; 2019 Cynamonster, Inc.