link(rel='stylesheet', href='css/img-grid.css')
.img-grid
   .img-row
      .img-1x1
         img(src='img/graphics/pie.png')
      .img-1x1
         img(src='img/graphics/mariokart-16.png')
      .img-1x1
         img(src='img/graphics/heritage-logo.png')
   .img-row
      .img-2x1
         img(src='img/graphics/flyer01.png')
      .img-2x2
         img(src='img/graphics/winter_classic.png')
   .img-row
      .img-2x2
         img(src='img/graphics/RealEstate-Mock03.jpg')
      .img-2x1
         img(src='img/graphics/heritage-geo[wip].png')
   .img-row
      .img-1x1
         img(src='img/graphics/codeducation.png')
      .img-1x1
         img(src='img/graphics/gina.png')
      .img-1x1
         img(src='img/graphics/airmen.png')
   .img-row
      .img-2x2
         img(src='img/graphics/hurricane.png')
      .img-2x1
         img(src='img/graphics/aepi-network-flyer03.png')
   .img-row
      .img-2x1
         img(src='img/graphics/aniversary-badges.png')
      .img-2x2
         img(src='img/graphics/GitHubPages.png')
   .img-row
      .img-1x1
         img(src='img/graphics/xmas.png')
      .img-1x1
         img(src='img/graphics/afrotc-doak.png')
      .img-1x1
         img(src='img/graphics/sbsco_lg_mock.jpg')
      