header
  a(href='about.html')
    .header__logo
      i.fa.fa-code.fa-3x(aria-hidden='true')
  .header__nav-bar
    li#research
      a#about(href='about.html') About
    li#about
      a#contact(href='contact.html') Contact
    li#dev
      a#contact(href='dev.html') Development
    li#design
      a#contact(href='design.html') Design
    li#resume
      a#resume(href='resume.html') Resume
